<launch>
  <include file="$(find mav_nonlinear_mpc)/launch/mav_nonlinear_mpc.launch">
    <arg name="mav_name" value="aero" />
    <arg name="namespace" value="$(arg mav_name)"/>
    <arg name="uav_num" value="1"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="axis_mapping" value="4 3 1 0 4 5 6 7"/>
    <arg name="verbose" value="true"/>
    <arg name="thrust_scaling_factor" value="0.0582"/>
  </include>
</launch>