<launch>
  <include file="$(find mav_nonlinear_mpc)/launch/mav_nonlinear_mpc.launch">
    <arg name="mav_name" value="f550" />
    <arg name="namespace" value="nuc"/>
    <arg name="uav_num" value="2"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="axis_mapping" value="=" />
    <arg name="verbose" value="true"/>
    <arg name="thrust_scaling_factor" value="0.05"/>
    <arg name="use_rc_teleop" default="false"/>
  </include>
</launch>