<launch>
  <arg name="mav_name" default="vrep_quad" />
  <arg name="namespace" default="$(arg mav_name)"/>
  <arg name="uav_num" default="1"/>
  <param name="use_sim_time" value="true" />

  <node pkg="mav_nonlinear_mpc_second_order" name="path_fncs" args="$(arg mav_name) $(arg uav_num)" output="screen" type="path_fncs.py"/>
</launch>